#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  
}

.cell {
   flex-basis: 33%;
   border: rgb(101, 162, 180), solid;
   background-color: rgb(53, 52, 51);

}

.cell:hover {
  border: rgb(101, 121, 180), solid;
  background-color: rgb(82, 80, 79);
}